services:
  postgres:
    image: postgres:16.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-volume/storage/postgres:/var/lib/postgresql/data

  airflow-webserver:
    build: .
    restart: always
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:password@postgres:5432/postgres
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False

      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=password
    ports:
      - "8081:8080"
    volumes:
      - .:/opt/airflow
      # - ./logs:/opt/airflow/logs
    command: >
      bash -c "airflow db init && 
               airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com || true && 
               airflow webserver"

  airflow-scheduler:
    build: .
    restart: always
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:password@postgres:5432/postgres
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor

      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=password
    volumes:
      - .:/opt/airflow
      # - ./logs:/opt/airflow/logs
    command: scheduler

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - postgres
